<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 logo">Dr.<span>care</span></h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">

                    <pre class="text-light">
                        Mukharjee Nagar, New Delhi,
                        India
                        <a href="tel:+8888888888">888888888</a>
                        <a href="mailto:support@drtitle.com">support@drtitle.com</a>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</footer>