<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 logo">TCS<span>MEDICARE</span></h2>
                    <p>TCS Medicare is one of the most preferred multi-super specialty hospitals offering tertiary care
                    services for a wide range of health conditions. Our specializations include Cardiology, Cardiac Surgery, Orthopaedics, etc.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-5">
                    <pre class="text-light">
                        Rodas Enclave, Park Ln, Hiranandani Estate,
                        Thane West, Thane, Maharashtra 400607
                        <a href="tel:+91-6888868888">+91-6888868888</a>
                        <a href="mailto:heal@tcsmedicare.com">heal@tcsmedicare.com</a>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</footer>