{% extends "index.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <title>Patient Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<div class="login" style="margin-bottom:30px; margin-top:20px;">
    <center><h1>Check for Patient</h1><center>
    <form action="{{ url_for('getPatientDetails') }}" method="post">
        <label for="patientid">
          <i class="fas fa-user"></i>
        </label>
        <input type="text" name="patientid" placeholder="Enter Patient Id" id="patientid"  required minlength="9" maxlength="9" pattern="\d*">
        <br><br>
        <input type="submit" value="Fetch Details">
          </form>
    </div>
    <center>
    <div style="color:red;">
        {{ msg }}
    </div></center>
      <div>
        <center>

          <!--  Table for Displaying Patient Details-->
          <table border="1" id="table">
            <thead>
              {% for item in data %}
              <tr>
                {% for i in item %}
                <th>{{ i }}</th>
                {% endfor %}
              </tr>
              {% endfor %}
            </thead>
       {% for item in data %}
           <tr> {% for i in item.values() %}
               <td> {{ i }} </td>
               {% endfor %}
           </tr>
       {% endfor %}
       </table>
       </center>
       <br><br>
       <center>
         <!--  Table for Displaying Medicine Issued-->
         <table id="table">
           <thead>
             {% for i in medhead %}
             <th>{{ i }}</th>
             {% endfor %}
           </thead>
      {% for item in data2 %}
          <tr> {% for i in item.values() %}
              <td> {{ i }} </td>
              {% endfor %}
          </tr>
      {% endfor %}
      </table>
      <br>
<b><a href="{{url_for('issueMeds') }}" style="color:#007bff; font-size:20px;">{{ button_msg}}</a></b>
    <br><br>
       </center>

</div>
{% endblock %}
